@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}
body {
  margin: o;
  padding: 0;
}
/* root elements */
:root {
    --primary-color: #f05000;
    --secondary-color: #1313181f;
    --font-color: #131318;
    --secondary-font: #13131823;
    --font-white: #FFFFFF;
    --background-pink: #fd808618;
    --background-blue: #29cdf615;
    --background-green: #14a53f2c;
  }
.orange {
    color: var(--primary-color);
}
.white {
    color: var(--font-white);
}
.container {
    width: 80%;
    margin: auto;
  }
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }
.nav-title {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
  }
.nav-title > h2 {
      margin-left: 10px;
  }
  
.nav-menu > ul {
    display: flex;
    list-style: none;
    /* font-size: var(--font-size-m); */
  }
.nav-menu > ul > li {
    margin-right: 30px;
  }
.nav-menu > ul > li:last-child {
    margin-right: 0;
  }
h1 {
    font-size: 42px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 26px;
}
.black {
    color: var(--font-color);
}
.banner {
    padding: 100px 40px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.center{
    text-align: center;
}
.flex {
    display: flex;
}
.bg-pink {
    background-color: var(--background-pink);
    padding: 20px;
    text-align: start;
    border-radius: 10px;
}
.bg-pink img{
    width: 60px;
    /* float: left; */
}
.bg-blue {
    background-color: var(--background-blue);
    padding: 20px;
    text-align: start;
    border-radius: 10px;
}
.bg-blue img{
    width: 60px;
    /* float: left; */
}
.bg-green {
    background-color: var(--background-green);
    padding: 20px;
    text-align: start;
    border-radius: 10px;
}
.bg-green img{
    width: 60px;
    /* float: left; */
}
.half-width {
    width: 50%;
}
.text-div {
    padding: 40px 0;
}
.image-div {
    padding:40px 0;
}
.image-div img{
    width: 80%;
    float: right;
}
.popular-tours {
    margin-top: 120px;
}
.form-container {
    width : 70%;
    margin: auto;
    padding: 10px;
    background-color: #ffffff2c;
    border-radius: 10px;
    justify-content: space-between;
    margin-top: 40px;
}
input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: large;
    color: var(--font-white);
    background-color: var(--primary-color);
}
button:hover {
    transform: scale(1.1);
    transition: .3s;
}
.tour {
    padding: 60px 0;
}
.grid-container-1 {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    padding: 10px;
  }
.grid-container-2 {
    display: grid;
    grid-template-columns: 33% 42% 24%;
    gap: 20px;
    padding: 10px;
  }
.grid-container-3 {
    display: grid;
    grid-template-columns: 41.5% 59%;
    gap: 20px;
    padding: 10px;
  }
.grid-container-4 {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    padding: 10px;
  }
.grid-container-5 {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    gap: 20px;
    padding: 10px;
  }
.grid-container-6 {
    display: grid;
    grid-template-columns: 44% 56%;
    gap: 20px;
    padding: 10px;
    margin-top: 100px;
  }
.image-box {
    position: relative;
    text-align: center;
    color: white;
}
.image-box img {
    width: 100%;
    filter: brightness(70%);
}

.image-box-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.newsletter {
    border: 1px solid orangered;
    border-radius: 10px;
    padding: 20px;
}
.newsletter form>input {
    width: 90%;
    background-color: var(--secondary-font);
    margin: 10px 0;
}
.newsletter-button{
    width: 95%;
    margin-top: 10px;
}
.newsletter-img {
    position: relative;
}
.special-btn {
    font-size: 16px;
    position: absolute;
    bottom: 48px;
    right: -74px;
    transform: rotate(-30deg);
}
.btn-lg {
    font-size: 22px;
}